.elementor-237 .elementor-element.elementor-element-63555ca{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-237 .elementor-element.elementor-element-624d272 .woocommerce-breadcrumb{text-align:left;}.elementor-237 .elementor-element.elementor-element-624d272 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-237 .elementor-element.elementor-element-7491040d{margin-top:0px;margin-bottom:50px;}.elementor-237 .elementor-element.elementor-element-221e27c5 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-237 .elementor-element.elementor-element-221e27c5 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.woocommerce .elementor-237 .elementor-element.elementor-element-6ddf96d5 .woocommerce-product-gallery__trigger + .woocommerce-product-gallery__wrapper,
					.woocommerce .elementor-237 .elementor-element.elementor-element-6ddf96d5 .flex-viewport{border-radius:0px 0px 0px 0px;}.woocommerce .elementor-237 .elementor-element.elementor-element-6ddf96d5 .flex-viewport:not(:last-child){margin-bottom:0px;}.woocommerce .elementor-237 .elementor-element.elementor-element-6ddf96d5 .flex-control-thumbs li{padding-right:calc(0px / 2);padding-left:calc(0px / 2);padding-bottom:0px;}.woocommerce .elementor-237 .elementor-element.elementor-element-6ddf96d5 .flex-control-thumbs{margin-right:calc(-0px / 2);margin-left:calc(-0px / 2);}.elementor-237 .elementor-element.elementor-element-6ddf96d5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-237 .elementor-element.elementor-element-6ddf96d5{width:100%;max-width:100%;top:0px;}body:not(.rtl) .elementor-237 .elementor-element.elementor-element-6ddf96d5{left:0px;}body.rtl .elementor-237 .elementor-element.elementor-element-6ddf96d5{right:0px;}.elementor-237 .elementor-element.elementor-element-5ec99219 > .elementor-element-populated{padding:70px 70px 70px 70px;}.elementor-237 .elementor-element.elementor-element-6fb9e025.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-237 .elementor-element.elementor-element-6fb9e025 .elementor-heading-title{font-family:"Noto Serif JP", Open Sans;font-size:32px;text-transform:capitalize;line-height:26px;}.woocommerce .elementor-237 .elementor-element.elementor-element-a2f845a .price{color:#0c0c0c;font-family:"Noto Serif JP", Open Sans;font-size:32px;font-weight:900;}.woocommerce .elementor-237 .elementor-element.elementor-element-a2f845a .price ins{color:#0c0c0c;}.elementor-237 .elementor-element.elementor-element-77f41bf0{text-align:left;}.woocommerce .elementor-237 .elementor-element.elementor-element-77f41bf0 .woocommerce-product-details__short-description{font-family:"Open Sans", Open Sans;font-size:14px;font-weight:300;line-height:16px;}.elementor-237 .elementor-element.elementor-element-77f41bf0 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-237 .elementor-element.elementor-element-514dd4b2 .cart button{font-family:"Open Sans", Open Sans;font-size:12px;text-transform:uppercase;border-style:solid;border-width:1px 1px 1px 1px;border-radius:0px 0px 0px 0px;padding:14px 035px 14px 35px;color:#ffffff;background-color:#000000;border-color:#000000;transition:all 0.2s;}.elementor-237 .elementor-element.elementor-element-514dd4b2 .cart button:hover{color:#000000;background-color:rgba(255,255,255,0.05);border-color:#000000;}body:not(.rtl) .elementor-237 .elementor-element.elementor-element-514dd4b2 .quantity + .button{margin-left:0px;}body.rtl .elementor-237 .elementor-element.elementor-element-514dd4b2 .quantity + .button{margin-right:0px;}.elementor-237 .elementor-element.elementor-element-514dd4b2 .quantity .qty{font-family:"Open Sans", Open Sans;font-size:12px;text-transform:uppercase;border-radius:0px 0px 0px 0px;color:#000000;background-color:rgba(255,255,255,0.08);border-color:#000000;transition:all 0.2s;}.elementor-237 .elementor-element.elementor-element-514dd4b2 .quantity .qty:focus{color:#000000;}.woocommerce .elementor-237 .elementor-element.elementor-element-514dd4b2 form.cart table.variations label{font-family:"Open Sans", Open Sans;font-size:12px;text-transform:uppercase;}.woocommerce .elementor-237 .elementor-element.elementor-element-514dd4b2 form.cart table.variations td.value select, .woocommerce div.product.elementor.elementor-237 .elementor-element.elementor-element-514dd4b2 form.cart table.variations td.value:before{font-family:"Open Sans", Open Sans;font-size:12px;text-transform:uppercase;}.elementor-237 .elementor-element.elementor-element-26bebabc > .elementor-element-populated{padding:10px 70px 0px 70px;}@media(max-width:1024px){.elementor-237 .elementor-element.elementor-element-7491040d{margin-top:0px;margin-bottom:0px;}.elementor-237 .elementor-element.elementor-element-221e27c5 > .elementor-element-populated{padding:30px 30px 30px 30px;}.elementor-237 .elementor-element.elementor-element-5ec99219 > .elementor-element-populated{padding:30px 30px 30px 30px;}.elementor-237 .elementor-element.elementor-element-3dac231{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-237 .elementor-element.elementor-element-a5d5d86 > .elementor-element-populated{padding:30px 30px 30px 30px;}.elementor-237 .elementor-element.elementor-element-26bebabc > .elementor-element-populated{padding:30px 30px 30px 30px;}}@media(max-width:767px){.elementor-237 .elementor-element.elementor-element-221e27c5 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-237 .elementor-element.elementor-element-5ec99219 > .elementor-element-populated{padding:20px 20px 20px 20px;}.elementor-237 .elementor-element.elementor-element-a5d5d86 > .elementor-element-populated{padding:20px 20px 20px 20px;}.elementor-237 .elementor-element.elementor-element-26bebabc > .elementor-element-populated{padding:20px 20px 20px 20px;}}@media(min-width:768px){.elementor-237 .elementor-element.elementor-element-221e27c5{width:56.389%;}.elementor-237 .elementor-element.elementor-element-5ec99219{width:43.611%;}}/* Start custom CSS for woocommerce-breadcrumb, class: .elementor-element-624d272 */.elementor-237 .elementor-element.elementor-element-624d272 .storefront-breadcrumb
{margin: 0; padding: 0;}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/noto-serif-jp-v7-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/noto-serif-jp-v7-latin-600.woff') format('woff');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/noto-serif-jp-v7-latin-900.woff') format('woff');
}
@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/noto-serif-jp-v7-latin-300.woff2') format('woff2'),
		url('http://dev.artilia.bg/wp-content/uploads/2019/10/noto-serif-jp-v7-latin-300.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-regular.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-600.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-800.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-600italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-800italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-latin-300.woff2') format('woff2'),
		url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-latin-300.woff') format('woff'),
		url('http://dev.artilia.bg/wp-content/uploads/2019/10/OpenSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: ;
}
/* End Custom Fonts CSS */