.elementor-783 .elementor-element.elementor-element-2710d35{padding:0px 30px 0px 30px;}.elementor-bc-flex-widget .elementor-783 .elementor-element.elementor-element-4f27714.elementor-column .elementor-column-wrap{align-items:center;}.elementor-783 .elementor-element.elementor-element-4f27714.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-menu-toggle{margin:0 auto;}.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main{font-family:"Open Sans", Open Sans;font-size:12px;font-weight:600;text-transform:uppercase;line-height:10em;letter-spacing:0.3px;}.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main .elementor-item:hover,
					.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main .elementor-item:focus{color:#000000;}.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#000000;}.elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-framed .elementor-item:before,
					.elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-framed .elementor-item:after{border-color:#000000;}.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#000000;}.elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-framed .elementor-item:before{border-width:2px;}.elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 2px 2px;}.elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:2px 2px 0 0;}.elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:2px 0 0 2px;}.elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 2px 2px 0;}.elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-underline .elementor-item:after,
					 .elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-overline .elementor-item:before,
					 .elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-double-line .elementor-item:before,
					 .elementor-783 .elementor-element.elementor-element-4b7a04d .e--pointer-double-line .elementor-item:after{height:2px;}.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main .elementor-item{padding-left:12px;padding-right:12px;padding-top:6px;padding-bottom:6px;}body:not(.rtl) .elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:5px;}body.rtl .elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:5px;}.elementor-783 .elementor-element.elementor-element-4b7a04d .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:5px;}.elementor-bc-flex-widget .elementor-783 .elementor-element.elementor-element-693653e.elementor-column .elementor-column-wrap{align-items:center;}.elementor-783 .elementor-element.elementor-element-693653e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-783 .elementor-element.elementor-element-130c232{text-align:center;}.elementor-783 .elementor-element.elementor-element-130c232.elementor-widget-heading .elementor-heading-title{color:#0c0c0c;}.elementor-783 .elementor-element.elementor-element-130c232 .elementor-heading-title{font-family:"Open Sans", Open Sans;font-size:24px;font-weight:300;text-transform:uppercase;font-style:normal;letter-spacing:20px;}.elementor-783 .elementor-element.elementor-element-cf620b0 .elementor-menu-toggle{margin:0 auto;}.elementor-783 .elementor-element.elementor-element-cf620b0 .elementor-nav-menu--main{font-family:"Open Sans", Open Sans;font-size:12px;font-weight:600;text-transform:uppercase;line-height:16em;}.elementor-783 .elementor-element.elementor-element-cf620b0 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-783 .elementor-element.elementor-element-cf620b0 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-783 .elementor-element.elementor-element-cf620b0 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-783 .elementor-element.elementor-element-cf620b0 .elementor-nav-menu--main .elementor-item:focus{color:#606060;}.elementor-783 .elementor-element.elementor-element-c029c14 .elementor-menu-cart__toggle{text-align:right;}.elementor-783 .elementor-element.elementor-element-c029c14 .elementor-menu-cart__toggle .elementor-button{border-width:0px;border-radius:0px;}@media(min-width:768px){.elementor-783 .elementor-element.elementor-element-4f27714{width:33.542%;}.elementor-783 .elementor-element.elementor-element-693653e{width:32.083%;}.elementor-783 .elementor-element.elementor-element-5020d8e{width:28.194%;}.elementor-783 .elementor-element.elementor-element-dc8911c{width:6.181%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-regular.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-600.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-800.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-600italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-cyrillic_latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek-800italic.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-latin-300.woff2') format('woff2'),
		url('http://dev.artilia.bg/wp-content/uploads/2019/10/open-sans-v17-latin-300.woff') format('woff'),
		url('http://dev.artilia.bg/wp-content/uploads/2019/10/OpenSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: ;
}
/* End Custom Fonts CSS */